<h1>{{title}}</h1>
<h4>sub-legenda legal</h4>
<!-- Tudo que tiver dentro das chaves é interpretado
como javascript -->

<p>meu nome é {{nome}} e tenho {{idade}} anos</p>

<p>Total de nomes : {{names.length}}</p>
<p>Nome Inicial : {{principalName}}</p>

<div *ngIf="names.length <= 6" >
  <input type="text" [value]="inputValues" (input) = "inputValues"  />
  <button >adicionar</button>
</div>

<ul>
    <li *ngFor="let item of objectNames"  [style.color]="corPrincipal">
        {{item.name}} - {{item.age}} - {{item.getType()}}
    </li>
</ul>

<p *ngIf="names.length > 6"> Tem muitos nomes cadastrados </p>

<button (click)="corPrincipal = '#0000ff'">Clicou</button>
<div *ngIf="showAviso">{{avisoMSG}}</div>
